@media screen and (max-width:1200px) {
    body.toggle .navlink {
        transform: translateX(0);

    }

    .open {
        display: block;
        color: #fff;
        font-size: 30px;
    }

    .closebutton {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
        color: #fff;
        font-size: 25px;
    }

    .saerchbar {
        display: none;
    }


    .navlink {
        transform: translateX(-100%);
        transition: all 0.5s linear;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background: var(--primary-color);
        width: 400px;
        padding: 40px;
        margin: 0;
        z-index: 9;
    }

    .navlink ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .navbar .navlink {
        margin-left: -15px;

    }

    .navlink ul li a {
        color: #fff;
    }

    .navlink ul li {
        padding: 10px;
    }

}
@media screen and (max-width:767px) {
    .banner_box h1 {
        font-size: 35px;
        text-transform: uppercase;
        padding: 30px 60px;
    }
    .monte_detail {
        padding: 40px 0;
    }
    .hotel_accordian {
        padding: 40px 0;
    }
    .copyright {
        margin-top: 40px;
    }
}


@media screen and (max-width:575px) {
    .monte_detail {
        padding: 20px 0;
    }
    .banner_box h1 {
        font-size: 28px;
        text-transform: uppercase;
        padding: 30px 60px;
    }
}
